html{scroll-behavior:smooth;}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000;
}

.dropdown {
    position: relative;
    z-index:1000;
}

.dropdown:active{
    transition: all 1s ease-in;
}

.nav {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    font-size: 1.10rem;
}

.nav a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    right:0px;
    width: 240px;
    background-color: white;
    font-weight:bold;
    position: relative;
    z-index: 1;
}
li a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    display: block;
}
li {
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
}

li:hover {
    background-color: #e5e5e5;
    color: white;
}
.button{
    height:18px;
    background-color:#11b2d0;
    padding:12px;
    border-radius:5px;
    font-weight:bold;
    color:white;
}
.button:before{
    content:"";
    position:absolute;
    width:0px;
    height:0px;
    border: 10px solid;
    border-color: white transparent transparent transparent;
    right:6px;
    top:18px;
}