html{scroll-behavior:smooth;}

*{font-family: 'Roboto', sans-serif;}

.indice-ul {
    width: 60%;
    font-weight: 500;
    text-align: left;
    align-items: center;
    margin: 0px 220px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 20px;
}
.indice-li {
    border-bottom: none;
}

.indice-li:hover {
    background-color: #a4ebf8;
}

.indice-li:first-child:hover{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.indice-li:last-child:hover{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.indice-quiz{
    text-align: left;
    position: relative;
    margin: 2em;
}

.faq-h1{
    margin: -1px 0;
    padding: 1em 0;
}
.faq-h2{
    margin: -1px 0px;
}

.question{
    text-align: left;
    align-items: center;
    margin: 50px 280px;
    width: 50%;
}

.question p{
    text-indent: 0px;
}

@media(max-width: 1180px){
    .indice-ul{
        margin: 0px 150px;
        width: 70%;
    }
    .question{
        margin: 50px 230px;
        width: 63%;
    }
}

@media(max-width: 1070px){
    .indice-ul{
        margin: 0px 90px;
        width: 80%;
    }
    .question{
        margin: 50px 140px;
        width: 70%;
    }
}

@media(max-width: 900px){
    .indice-ul{
        margin: 0px 0px;
        width: 100%;
    }
    .question{
        margin: 50px 50px;
        width: 90%;
    }
}
