html{scroll-behavior:smooth;}

*{font-family: 'Roboto', sans-serif;}

.App {
  text-align: center;
}

main{
  margin-left: 260px;
  font-size: 21px;
  padding: 0px 10px;
  background-color: #eefefd;
}

h2{
  text-align: left;
  padding: 2em 0 1em 0;
  margin: -1px 100px;
}

.text{
  text-align: left;
  align-items: center;
  text-indent: 40px;
  margin: 0px 60px;
}

.App-banner{
  margin: 25px 0 12px 30px;
  width: 55%;
}

#introducao{
  text-align: center;
}

.transmissão-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.transmissão-p{
  text-align: center;
  font-size: 1.20rem;
  color: #0a6f82;
  font-weight: bold;
  width: 290px;
  margin-top: 26px;
}

.transmissão-p1{
  text-align: left;
  font-size: 1.20rem;
  color: #0a6f82;
  font-weight: bold;
  width: 270px;
  margin-top: 26px;
  margin-left: 25px;
}

.prevencao-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.prevencao{
  background-color: #80e2f4;
  border-radius: 20px;
  position: relative;
  width: 40%;
  margin: 2em;
}

.prevencao-container p{
  padding: 0 30px;
  text-align: left;
  font-size: 1.52rem;
}

.sintomas-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sintomas{
  background-color: #0fa1bc;
  text-align: center;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  position: relative;
  padding: 10px;
  margin: 20px;
}

.sintomas-container p{
  width: 70%;
  margin-left: 2.5em;
  margin-top: 3em;
  text-align: left;
  font-size: 1.52rem;
  line-height: 1.3;
}


@media(max-width: 970px){
  .text{
    margin: 0px 110px;
  }

  .container{
    width: 60%;
  }
  
  .prevencao{
    width: auto;
    margin: 4em;
  }
}

@media(max-width: 750px){
  .sintomas{
    padding: 1px;
  }
}

@media(max-width: 650px){
  .text{
    margin: 0px 50px;
  }

  .container{
    width: 60%;
  }
}

@media(max-width: 550px){
  h2{
    margin: -1px 80px;
  }

  .prevencao{
    width: auto;
    margin: 1em;
  }
}